.divNav{
    padding: 5px;
    display: flex;
    justify-content: end;
    justify-content: space-between;
    /* border: red solid 1px; */
}


.divNav button:hover{
    background-color: rgb(84, 120, 31);
}

.navRigth{
    display: flex;
    justify-content: flex-end;
}

.navLeft{
    display: flex;
    width: 25%;
}

.divNav a{
    text-decoration: none;
    width: 100%;
    justify-content: space-around;
   /*  border: solid 1px white; */
}
.divNav a:hover{
    color: rebeccapurple;
    border-bottom: 1px solid rgb(120, 182, 27);
}

.active{
    color: rgb(120, 182, 27);
}

.inactive{
    color: rgb(108, 28, 247);
}

.btnRandom{
    background-color: rgb(120, 182, 27);
    border-radius: 3px;
    color: white;
    border: none;
    margin-left: 20px;
}