@font-face {
    font-family: face;
    src: url("");
}

.card{
    background-color: azure;
    border-radius: 5px;   
    width: 18vw;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

.card a{
    text-decoration: none;
}

.card button{
    background-color: transparent;
    border-color: rgba(248, 244, 244, 0);
    border-radius: 10px;
    margin-bottom: -10%;
    z-index: 2;
    width: 8%;
    align-self: flex-end;
    margin-right: 4%;
    color:  rgb(205, 25, 25);
}

.divButtons{
    display: flex;
    justify-content: space-between;
}


.divImg{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.divImg img{
    width: 18vw;
    border-radius: 3px;
}

.divImg h2{
    background-color: rgba(7, 7, 7, 0.714);
    color: white;
    margin-top: -15%;
    padding-bottom: 0;
    width: 10vw;
}

.divDescription{
    display: flex;
    justify-content: space-around;
}